<main>

    <div class="public">
        <!-- <p class="public-p1">Due Date:</p>  -->
        <!-- <p class="public-p2"> 14 days</p> -->

    </div>

    <div class="table">

        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Submission</th>
                        <!-- <th>Closing Date</th> -->
                        <!-- <th>Rate</th> -->
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let i of lstArticle">

                    <tr>
                        <td><img [src]="(pathImg + i.contribution_image)" alt=""></td>
                        <td>{{i.contribution_id}}</td>
                        <td>{{i.contribution_title}}</td>

                        <td>{{i.contribution_submition_date | date : 'yyyy-MM-dd'}}</td>
                        <!-- <td>5/4/2024</td> -->
                        <!-- <td>
                            <button routerLink="/View-Pub" class="button-waiting">
                                Waiting</button>
                            <button routerLink="/View-Pub" class="button-fail"></button>
                            <button routerLink="/View-Pub" class="button-pass"></button>
                        </td> -->
                        <td>
                            <button routerLink="/View-Pub" class="button-waiting" *ngIf="i.isView === 'Unview'">
                                Pending</button>

                            <button (click)="Approve(i.contribution_id)" *ngIf="i.isView === 'View' && i.isSelected === 'Unselected'"  class="button-approve">Approve </button>
                            <button (click)="Reject(i.contribution_id)" *ngIf="i.isView === 'View' && i.isSelected === 'Unselected'"  class="button-reject">Reject </button>

                            <button *ngIf="i.isSelected === 'Selected'" class="button-approve1"></button>
                            <button *ngIf="i.isView === 'Private' && i.isEnabled === 'Unenabled'" class="button-reject1"></button>
                        </td>
                        <td>
                            <button [routerLink]="['/Detail-Pub', i.contribution_id]" (click)="view(i.contribution_id)"><i class="fa-solid fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>

