<main>

    <div class="public">
        <!-- <p class="public-p1">Due Date:</p>  -->
        <!-- <p class="public-p2"> 14 days</p> -->
        
    </div>

    <div class="table">
        
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Submission</th>
                        <th>Closing Date</th>
                        <th>Rate</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>TranChiHuynh</td>
                        <td><img src="/assets/img/a.jpg" alt=""></td>
                        <td>Article</td>
                        <td>5/3/2024</td>
                        <td>5/4/2024</td>
                        <td>
                            <!-- <button routerLink="" class="button-fail"></button> -->
                            <button routerLink="" class="button-pass"></button>
                        </td>
                        <td>
                            <!-- <button routerLink="" class="button-waiting"> 
                                Waiting</button> -->
                            <!-- <button routerLink="" class="button-private"> </button> -->
                            <button routerLink="" class="button-public"> </button>
                        </td>
                        <td>
                            <button routerLink="/Detail-Pub"><i class="fa-solid fa-eye"></i></button>          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  
