<main class="bg-light">
    <div class="container">
      <div class="text-center my-5">
        <h1 style="color: rgb(67 0 86);">Articles Public</h1>
        <hr />
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let a of lstArticlePublic">
          <div class="card mb-5 shadow-sm">
            <img [src]="(pathImg + a.contribution_image)" class="img-fluid" id="img"/>

            <div class="card-body">
              <div class="card-title">
                <h2>{{a.contribution_title}}</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a routerLink="/Guest-ViewArticleDetail" class="btn btn-outline-primary rounded-0 float-end" id="btn-readMore"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
