<main>

    <div class="public">
        <!-- <p class="public-p1">Due Date:</p>  -->
        <!-- <p class="public-p2"> 14 days</p> -->

    </div>

    <div class="table">

        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Submission</th>
                        <!-- <th>Closing Date</th> -->
                        <!-- <th>Rate</th> -->
                        <th>Status</th>
                        <th>Action</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let a of lstArticles">
                        <td><img [src]="(pathImg + a.contribution_image)"></td>
                        <td>{{a.contribution_id}}</td>
                        <td>{{a.contribution_title}}</td>

                        <td>{{a.contribution_submition_date}}</td>
                        <!-- <td>5/4/2024</td> -->
                        <td>
                            <p>{{a.isPublic}}</p>
                        </td>
                        <td>
                            <button (click)="Public(a.contribution_id)"  *ngIf="a.isPublic === ''"   
                            class="button-public"></button>

                            <button (click)="Private(a.contribution_id)" *ngIf="a.isPublic === ''"  class="button-private"></button>

                            <button (click)="Public(a.contribution_id)" *ngIf="a.isPublic === 'Public'"  class="button-public1"></button>

                            <button (click)="Private(a.contribution_id)" *ngIf="a.isPublic === 'Private'"  class="button-private1"></button>

                        </td>
                        <td>
                            <button [routerLink]="['/Guest-ViewArticleDetail',a.contribution_id]"><i class="fa-solid fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
