<main>

    <div class="public">
        <p class="public-p1">Faculties Statistic</p>
    </div>

    <select (change)="onChageAcademicYear($event)" id="select-option" class="form-select" aria-label="Default select example">
        <option value="0" selected>All Academic Year</option>
        <option *ngFor="let a of lstAcademicYear" value="{{a.academic_year_id}}">{{a.academic_year_title}}</option>
    </select>

    <div class="table">

        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Closure Date</th>
                        <th>Final Closure Date</th>
                        <th>Total Contributor</th>
                        <th>Total Article</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of lstStatistic">
                        <td>{{s.academic_year_id}}</td>
                        <td>{{s.title}}</td>
                        <td>{{s.startDate | date: 'MM-dd-yyyy'}}</td>
                        <td>{{s.endDate | date: 'MM-dd-yyyy'}}</td>
                        <td>{{s.usersCount}}</td>
                        <td>{{s.contribution}}</td>
                    </tr>

                </tbody>
            </table>


        </div>
    </div>



  </main>

