<main>

    <div class="public">
        <p class="public-p1">Due Date:</p>
        <p class="public-p2"> 14 days</p>

    </div>

    <div class="table">

        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Submission Date</th>
                        <th>Closing Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let i of lstArticle">
                    <tr>
                        <td>{{i.user_id}}</td>
                        <td>{{i.username}}</td>
                        <td><img [src]="(pathImg + i.contribution_image)" alt=""></td>
                        <td>{{i.contribution_title}}</td>
                        <td>{{i.contribution_submition_date | date : 'yyyy-MM-dd'}}</td>
                        <td>{{i.final_clouser_date | date : 'yyyy-MM-dd'}}</td>
                        <td>
                            <button [routerLink]="['/Add-Comment', i.contribution_id]"><i class="fa-solid fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>

