<main>
    <div class="table">

        <div class="table_header">
            <h4>Articles Management</h4>
            <div style="display: flex;">
              <!-- <input placeholder="search..." /> -->
                <button routerLink="/Add-Articles" class="add_new"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>


        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Title</th>
                        <!-- <th>Content</th> -->
                        <th>Submission Date</th>
                        <!-- <th>Closing Date</th> -->
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let c of lstArticles">
                    <tr>
                        <td>{{c.contribution_id}}</td>
                        <td><img [src]="(pathImg + c.contribution_image)"></td>
                        <td>{{c.contribution_title}}</td>
                        <!-- <td>{{pathDoc + c.contribution_content}}</td> -->
                        <!-- <td><img [src]="(pathDoc + c.contribution_content)"></td> -->
                        <td>{{c.contribution_submition_date | date : 'yyyy-MM-dd'}}</td>
                        <!-- <td>{{c.contribution_submition_date | date : 'yyyy-MM-dd'}}</td> -->
                        <td>Submitted</td>
                        <td>
                            <button [routerLink]="['/Detail-Articles', c.contribution_id]"><i class="fa-solid fa-eye"></i></button>
                            <button [routerLink]="['/Update-Articles', c.contribution_id]"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
