<main>
    <div class="table">
        
        <div class="table_header">
            <h4>Articles Management</h4>
            <div style="display: flex;">
              <!-- <input placeholder="search..." /> -->
                <button routerLink="/Add-Articles" class="add_new">+ Add New</button>
            </div>
        </div>


        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Submit Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="/assets/img/a.jpg" alt=""></td>
                        <td>Article</td>
                        <td>5/3/2024</td>
                        <td>Submited</td>
                        <td>
                            <button routerLink="/Detail-Articles"><i class="fa-solid fa-eye"></i></button>
                            <button routerLink="/Update-Articles"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  