<main>

<!-- Admin and Manager -->

    <div class="public">
        <p class="public-p1">Contributions have not yet been commented on</p>

    </div>

    <select (change)="onChageAcademicYear($event)" id="select-option" class="form-select" aria-label="Default select example">
        <option *ngFor="let a of lstAcademicYear" value="{{a.academic_year_id}}">{{a.academic_year_title}}</option>
    </select>

    <div class="table">

        <div class="table_section">


            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Contributor</th>
                        <th>Faculty</th>
                        <th>Coordinator</th>
                        <th>Submission</th>
                        <th>Closure Date</th>
                        <th>Final Closure Date</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let s of lstStatistic">
                        <td><img src="{{baseImgUrl + s.contributionImages}}" alt=""></td>
                        <td>{{s.contributionID}}</td>
                        <td>{{s.contributionTitle}}</td>
                        <td>{{s.contributor}}</td>
                        <td>{{s.faculty}}</td>
                        <td>{{s.coordinator}}</td>
                        <td>{{s.contributionSubmit | date: 'yyyy-MM-dd'}}</td>
                        <td>{{s.startDate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{s.endDate | date: 'yyyy-MM-dd'}}</td>
                    </tr>

                </tbody>
            </table>


        </div>
    </div>



  </main>

