<main>

    <div class="public">
        <p class="public-p1">Contributions have not yet been commented on</p> 
        
    </div>

    <div class="table">
        
        <div class="table_section">
           
            
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Contributor</th>
                        <th>Faculty</th>
                        <th>Coordinator</th>
                        <th>Submission</th>
                        <th>Closing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/assets/img/a.jpg" alt=""></td>
                        <td>1</td>
                        <td>Article 1</td>
                        <td>TranChiHuynh</td>
                        <td>IT</td>
                        <td>NguyenVanHo</td>
                        <td>05/03/2024</td>
                        <td>05/04/2024</td>
                    </tr>
                    
                </tbody>
            </table>

            
        </div>
    </div>


    
  </main>
  
