<body>
    <div class="container">
      <header>
      <h1 class="heading-1">the light star</h1>
      <div class="sub-heading">
        <p>Saterday, <span>june 26, 2021</span></p>
        <p class="importent">your right to know</p>
      </div>
      </header>
  
      <div class="main">
        <div class="home">
          <div class="left">
            <img src="/assets/img/c.jpg" class="home-img" alt="Paper photo">
  
            <h2 class="heading-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit cupiditate possimus.
            </h2>
          </div>
  
          <div class="right">
            <h3 class="heading-3">latest news</h3>
            <div class="lists">
              <div class="list">
                <img src="/assets/img/c.jpg" alt="photo 1">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
              </div>
  
              <div class="list">
                <img src="/assets/img/c.jpg" alt="photo 2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
              </div>
  
              <div class="list">
                <img src="/assets/img/c.jpg" alt="photo 3">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
              </div>
  
              <div class="list">
                <img src="/assets/img/c.jpg" alt="photo 4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
              </div>
              <div class="list">
                <img src="/assets/img/c.jpg" alt="photo 4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
              </div>
              <div class="list">
                <img src="/assets/img/c.jpg" alt="photo 4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
    <blockquote>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, perferendis nisi. Nisi, obcaecati sed. Doloremque omnis minima esse ullam cupiditate sint accusantium, itaque temporibus delectus commodi quidem atque id aut, nam, dolorum eligendi impedit. Porro labore dolore et accusamus, ea alias omnis eveniet dolor voluptate veritatis. Nisi assumenda perspiciatis facilis tenetur a ducimus atque dolorum. Non maiores porro minima incidunt quod deserunt ullam id error veniam debitis! Quia, nulla aspernatur.
    </blockquote>
  
  </body>