<main>

  <div class="public">
      <!-- <p class="public-p1">Due Date:</p>  -->
      <!-- <p class="public-p2"> 14 days</p> -->

  </div>


  <div class="div-button">
      
      <select id="select-option" class="form-select" aria-label="Default select example">
        <option selected>Choose Academic Year</option>
        <option value="1">05/03/2024 - 05/04/2024</option>
        <option value="1">05/03/2024 - 05/04/2024</option>
      </select>
      <select id="select-option" class="form-select" aria-label="Default select example">
        <option selected>Choose Faculty</option>
        <option value="1">IT</option>
        <option value="1">ART</option>
      </select>
      <a class="download-button" routerLink="/Detail-Articles" id="btn-readMore">Sort</a>

    </div>

  <div class="table">

      <div class="table_section">
          <table>
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Faculty</th>
                      <th>Coordinator</th>
                      <th>Num of Contributor</th>
                      <th>Contributor Rate</th>
                      <th>Num of Approval</th>
                      <th>Approval Rate</th>
                      <th>Num of Reject</th>
                      <th>Reject Rate</th>
                      <th>Academic Year</th>
                  </tr>
              </thead>
              <tbody>

                  <tr >
                      <td img src="/assets/img/d.jpg"></td> 
                      <td>IT</td>
                      <td>Doan Van Ho</td>
                      <td>30</td>
                      <td>30%</td>
                      <td>20</td>
                      <td>66.66%</td>
                      <td>10</td>
                      <td>33.33%</td>
                      <td>03-28-2024 - 04-28-2024</td>
                      <!-- <td>
                          <button routerLink="/Guest-ViewArticleDetail"><i class="fa-solid fa-eye"></i></button>
                          <button routerLink="/Guest-ViewArticleDetail"><i class="fa-solid fa-download"></i></button>
                      </td> -->
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</main>
