<main>
    <div class="table">
        <div class="table_header">
            <h4>Faculties Management</h4>
            <div style="display: flex;">
              <!-- <input placeholder="search..." /> -->
                <button routerLink="/Add-Faculty" class="add_new"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fucalty name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>IT</td>
                        <td>
                            <!-- <button routerLink=""><i class="fa-solid fa-eye"></i></button> -->
                            <button routerLink="/Update-Faculty"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  