<main>

    <div class="public">
        <p class="public-p1">Statistics</p>

    </div>

    <div class="div-combo">
        <div class="combo-combo">
            <select (change)="onChageAcademicYear($event)" id="select-option" class="form-select" aria-label="Default select example">
                <option *ngFor="let a of lstAcademicYear" value="{{a.academic_year_id}}">{{a.academic_year_title}}</option>
            </select>
            <button class="button-sort">Sort</button>
        </div>
    
        <div class="div-left" >
            <button id="id-table" class="download-button">Table</button>
            <button id="id-chart" class="download-button" routerLink="/Guest-Chart" id="btn-readMore">Chart</button>
        </div>
    </div>

    <div class="table">
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Faculty</th>
                        <th>Num of Contributors</th>
                        <th>Num of articles</th>
                        <th>Closure Date</th>
                        <th>Final Closure Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of lstStatistic">
                        <td><img src="{{baseImgUrl + s.contributionImages}}" alt=""></td>
                        <td>{{s.facultyName}}</td>
                        <td>{{s.usersCount}}</td>
                        <td>{{s.contributions}}</td>
                        <td>{{s.startDate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{s.endDate | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>

