<!-- <main>
  <div class="container">
    <header>
      <h1 class="heading-1">the light star</h1>
      <div class="sub-heading">
        <p>Saterday, <span>june 26, 2021</span></p>
        <p class="importent">your right to know</p>
      </div>
    </header>

    <div class="main">
      <div class="home">
        <div class="left">
          <img src="/assets/img/a.jpg" class="home-img" alt="Paper photo" />

          <h2 class="heading-2">
            A Lorem ipsum dolor sit amet consectetur adipisicing elit cupiditate
            possimus.
          </h2>
        </div>

        <div class="right">
          <h3 class="heading-3">Comments</h3>
          <div class="lists">
            <div class="list">
              <p>18/01/2024</p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
                veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Odio, veritatis! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Odio, veritatis!
              </p>
              <button class="button-button" routerLink=""><i class="fa-solid fa-trash"></i></button>
            </div>

            <div class="list">
              <p>17/01/2024</p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
                veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Odio, veritatis! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Odio, veritatis!
              </p>
              <button class="button-button" routerLink=""><i class="fa-solid fa-trash"></i></button>
            </div>

            <div class="list">
              <p>16/01/2024</p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
                veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Odio, veritatis! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Odio, veritatis!
              </p>
              <button class="button-button" routerLink=""><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>

          <div class="area">
          <textarea class ="area-textarea" placeholder="Text something here..." required></textarea>

          <a class="button" href="#" style="--clr:#29d8d8"><span>Send</span><i></i></a>
          </div>
        </div>
      </div>
    </div>

    <article>
      <p>
        B Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        labore nihil voluptatum recusandae facere dicta veritatis iusto tempore,
        debitis officia qui nostrum repellendus autem numquam obcaecati sunt
        itaque in repudiandae expedita omnis saepe modi explicabo error! Sunt
        quaerat vitae omnis eaque culpa nihil sequi velit ullam fugiat,
        cupiditate atque quasi eum obcaecati, cumque officiis iure ipsam!
        Inventore voluptate dignissimos nemo! In exercitationem rerum sunt quo
        maxime consequatur ab accusamus explicabo voluptatem ratione. Eveniet
        hic, quibusdam repellendus illum quas provident corrupti dolores
        assumenda quis explicabo rerum reiciendis, tempore expedita iure ab
        numquam, facilis officia pariatur veritatis iste mollitia quam neque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        labore nihil voluptatum recusandae facere dicta veritatis iusto tempore,
        debitis officia qui nostrum repellendus autem numquam obcaecati sunt
        itaque in repudiandae expedita omnis saepe modi explicabo error! Sunt
        quaerat vitae omnis eaque culpa nihil sequi velit ullam fugiat,
        cupiditate atque quasi eum obcaecati, cumque officiis iure ipsam!
        Inventore voluptate dignissimos nemo! In exercitationem rerum sunt quo
        maxime consequatur ab accusamus explicabo voluptatem ratione. Eveniet
        hic, quibusdam repellendus illum quas provident corrupti dolores
        assumenda quis explicabo rerum reiciendis, tempore expedita iure ab
        numquam, facilis officia pariatur veritatis iste mollitia quam neque.
      </p>
    </article>
  </div>
</main> -->


<!-- <div *ngFor="let c of fileWord">
  <p>{{pathDoc}}</p>
  <ngx-doc-viewer
    [url]="pathDoc + c.contribution_content"
    viewer="google"
    style="width:100%;height:50vh;"
  ></ngx-doc-viewer>
</div> -->
<!-- <p *ngFor="let c of fileWord">{{pathDoc + c.contribution_content}}</p> -->
<p >{{a}}</p>
<!-- <ngx-doc-viewer
[viewerUrl]="'https://docs.google.com/gview?url=%URL%&embedded=true'"
  [url]="'https://docs.google.com/document/d/1r4P--XuMih2pEzfusDjKa7qwau8o_P9e/edit?usp=drive_link&ouid=117246478324494449004&rtpof=true&sd=true'"
  viewer="url"
  style="width:100%;height:50vh;"
></ngx-doc-viewer> -->
<!-- <ngx-doc-viewer
  [viewerUrl] =" 'https://docs.google.com/gview?url=%URL%&embedded=true' "
   [url] =" 'https://docs.google.com/document/d/1r4P--XuMih2pEzfusDjKa7qwau8o_P9e/edit?usp=drive_link&ouid=117246478324494449004&rtpof=true&sd=true' "
   Viewer =" url "
   style =" width:100%;height:50vh; "
 >
</ngx-doc-viewer > -->

<!-- <div>
  <iframe src="http://docs.google.com/gview?url=http://localhost:7195/Articles/Report.docx&embedded=true" width="100%" height="650px" frameBorder="0"></iframe> -->
  <!-- <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=https://localhost:7195/Articles/Report.docx' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe> -->
  <!-- <iframe src='https://docs.google.com/gview?url=https://localhost:7195/Articles/Report.docx' width='100%' height='650px' frameborder='0'></iframe> -->
  <!-- <iframe [src]="a" width="1100px" height="500px" frameBorder="0"></iframe> -->
  <!-- <iframe [src]="'https://view.officeapps.live.com/op/embed.aspx?src=https://localhost:7195/Articles/Report.docx'" width="100%" height="650px" frameBorder="0"></iframe> -->
<!-- </div> -->

<!-- <div>
  <input type="file" (change)="onFileSelected($event)" name="" id="">
</div>
<div *ngIf="wordContent">
  <pre>{{ wordContent }}</pre>
</div> -->

<div class="office-viewer">
	<iframe [src]='urlSafe' width='100%' height='100%' frameborder='0'></iframe>
</div>
