<main>

    <div class="public">
        <p class="public-p1">Faculty-wide Statistics</p> 
        
    </div>

    <select id="select-option" class="form-select" aria-label="Default select example">
        <option selected>Choose Academic Year</option>
        <option  value="1">05/03/2024 - 05/04/2024</option>
    </select>

    <div class="table">
        
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Faculty</th>
                        <th>Num of Contributors</th>
                        <th>Entire Faculties (%)</th>
                        <th>Num of articles</th>
                        <th>Entire Faculties (%)</th>
                        <th>Closure Date</th>
                        <th>Final Closure Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/assets/img/a.jpg" alt=""></td>
                        <td>IT</td>
                        <td>20</td>
                        <td>50</td>
                        <td>100</td>
                        <td>50</td>
                        <td>05/03/2024</td>
                        <td>05/04/2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  
