<main>

    <div class="public">
        <p class="public-p1">Statistic</p> 
        
    </div>

    <div class="table">
        
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Faculty</th>
                        <th>Num of articles</th>
                        <th>Entire Faculties (%)</th>
                        <th>Academic year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/assets/img/a.jpg" alt=""></td>
                        <td>IT</td>
                        <td>100</td>
                        <td>28</td>
                        <td>5/3/2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  
