<main>
  <div class="container">
    <header>
      <h1 class="heading-1">the light star</h1>
      <div class="sub-heading">
        <p>Saterday, <span>june 26, 2021</span></p>
        <p class="importent">your right to know</p>
      </div>
    </header>

    <div class="main">
      <div class="home">

        <div class="left">
          <img src="/assets/img/a.jpg" class="home-img" alt="Paper photo" />

          <h2 class="heading-2">
            A Lorem ipsum dolor sit amet consectetur adipisicing elit cupiditate
            possimus.
          </h2>
        </div>

        <div class="right">
          <h3 class="heading-3">Comments</h3>
          <div class="lists">

            
            <div class="list">

              <div class="comment-left">

                <p class="comment-name">
                 Huynh-it
                </p>
              <p class="comment-date">03-01-2024 | 03:33</p>
              
              </div>
              
              <div  class="comment-left">

                <!-- <p class="comment-text" [ngStyle]="{ color: c.comment_user_id == userID ? 'red' : 'black' }" >{{c.comment_content}}
                </p>   -->

                <p class="comment-isMine">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis numquam accusamus officiis, fuga id eos temporibus maiores molestiae facilis. Repellendus dicta illum incidunt provident tenetur ipsam culpa deserunt, officiis praesentium.
                </p>  
                
                
              </div>

              
              <!-- <div class="div-button">
                <button class="button-button"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="button-button"><i class="fa-solid fa-trash"></i></button>
              </div> -->
            

            </div>
          </div>

          <div class="area" >

           

              <textarea class ="area-textarea"  disabled>
              </textarea>

          
          

            <a class="button" style="--clr:#29d8d8; cursor: pointer;"><span>Send</span><i></i></a>


          </div>
        </div>
      </div>
  
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio reprehenderit magnam vitae sint laborum quod sapiente assumenda obcaecati. Id, fugit amet. Quas, deserunt quibusdam ex fuga quam sunt cumque debitis.
        
      </blockquote>
    </div>
  </div>
</main>
