<main>
    <div class="container">
      <header>
        <h1 class="heading-1">the light star</h1>
        <div class="sub-heading">
          <p>Saterday, <span>june 26, 2021</span></p>
          <p class="importent">your right to know</p>
        </div>
      </header>
  
      <div class="main">
        <div class="home">
          <div class="left">
            <img src="/assets/img/a.jpg" class="home-img" alt="Paper photo" />
  
            <h2 class="heading-2">
              A Lorem ipsum dolor sit amet consectetur adipisicing elit cupiditate
              possimus.
            </h2>
          </div>
  
          <div class="right">
            <h3 class="heading-3">Comments</h3>
            <div class="lists">
              <div class="list">
                <p>18/01/2024</p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
                  veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
                  elit. Odio, veritatis! Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Odio, veritatis!
                </p>
                <button class="button-button" routerLink=""><i class="fa-solid fa-trash"></i></button>     
              </div>
  
              <div class="list">
                <p>17/01/2024</p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
                  veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
                  elit. Odio, veritatis! Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Odio, veritatis!
                </p>
                <button class="button-button" routerLink=""><i class="fa-solid fa-trash"></i></button> 
              </div>
  
              <div class="list">
                <p>16/01/2024</p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
                  veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
                  elit. Odio, veritatis! Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Odio, veritatis!
                </p>
                <button class="button-button" routerLink=""><i class="fa-solid fa-trash"></i></button> 
              </div>
            </div>
  
            <div class="area">
            <textarea class ="area-textarea" placeholder="Text something here..." required></textarea>
  
            <a class="button" href="#" style="--clr:#29d8d8"><span>Send</span><i></i></a>
            </div>
          </div>
        </div>
      </div>
  
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio reprehenderit magnam vitae sint laborum quod sapiente assumenda obcaecati. Id, fugit amet. Quas, deserunt quibusdam ex fuga quam sunt cumque debitis.
        
      </blockquote>
    </div>
  </main>
  