<main>
    <div class="table">
        <div class="table_header">
            <h4>Account Management</h4>
            <div>
                <button routerLink="/Create-Account" class="add_new"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Birthday</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td >
                            <button routerLink ><i class="fa-solid fa-lock"></i></button>
                            <button ><i class="fa-solid fa-lock-open"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  